---
const siteUrl = 'https://learning.byphp.id'
const meta = {
  title: 'Belajar Daring bersama PHPID',
  description: 'Daftar online learning yang diadakan oleh komunitas PHPID',
  url: siteUrl,
  image: `${siteUrl}/meta-image.png`
}
---

<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="theme-color" content="#f7e4a0" />
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin />
    <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <title>{meta.title}</title>
    <meta name="description" content={meta.description} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={meta.image} />
    <meta name="twitter:site" content="@PHP_Indonesia" />

    <meta property="og:title" content={meta.title} />
    <meta property="og:description" content={meta.description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={meta.url} />
    <meta property="og:image" content={meta.image} />

    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" />

    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
    <link rel="icon" type="image/png" href="/icon-32.png" />

    <script id="ld-website" type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "url": "https://learning.byphp.id/",
          "description": "Daftar online learning yang diadakan oleh PHPID community",
          "image": "https://learning.byphp.id/meta-image.png",
          "thumbnailUrl": "https://learning.byphp.id/meta-image.png",
          "name": "PHPID",
          "sameAs": ["https://www.facebook.com/groups/phpid"]
        }
      </script>
    <script id="ld-org" type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "PHPID",
          "logo": {
            "@type": "ImageObject",
            "url": "https://learning.byphp.id/meta-image.png"
          }
        }
      </script>

    <!-- Async Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" media="all" onload="this.media='all'"/>
    <!-- Async Google Fonts -->

    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" />
    </noscript>

    <link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/global.css")}>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MZT8RE0XDN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MZT8RE0XDN');
    </script>
  </head>

  <body class="light">
    <main>
      <slot />
    </main>

    <script>
      (function () {
        window.__header_theme = { dark: "#f7e4a0", light: "#f7e4a0" };
        window.__onThemeChange = function () { };
        var preferredTheme;
        try {
          preferredTheme = localStorage.getItem("theme");
        } catch (err) { }

        function setTheme(newTheme) {
          window.__theme = newTheme;
          preferredTheme = newTheme;
          document.body.className = newTheme;
          document
            .querySelector('meta[name="theme-color"]')
            .setAttribute("content", window.__header_theme[newTheme]);
          window.__onThemeChange(newTheme);
        }

        window.__setPreferredTheme = function (newTheme) {
          setTheme(newTheme);
          try {
            localStorage.setItem("theme", newTheme);
          } catch (err) { }
        };

        var darkQuery = window.matchMedia("(prefers-color-scheme: dark)");
        darkQuery.addListener(function (e) {
          window.__setPreferredTheme(e.matches ? "dark" : "light");
        });

        setTheme(preferredTheme || (darkQuery.matches ? "dark" : "light"));
      })();
    </script>
  </body>

</html>
