doctype html
html(lang="id")
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name="viewport", content="initial-scale=1, minimum-scale=1, maximum-scale=7, user-scalable=yes, width=device-width, shrink-to-fit=no")
		link(rel='preconnect dns-prefetch', href='https://www.google-analytics.com'  crossorigin="")
		title PHPID Online Learning 2020

		meta(name='description', content='Daftar online learning yang diadakan oleh PHPID community')
		meta(property='og:site_name', content='PHPID')
		meta(property='og:type', content='website')
		meta(property='og:title', content='PHPID Online Learning 2020')
		meta(property='og:description', content='Daftar online learning yang diadakan oleh PHPID community')
		meta(property='og:url', content='https://phpid-jakarta.github.io/phpid-online-learning-2020/')
		meta(property='og:image', content='../meta-image.png')
		meta(property='og:image:width', content='1200')
		meta(property='og:image:height', content='630')
		meta(property='article:publisher', content='https://www.facebook.com/groups/phpid/')

		meta(name='twitter:card', content='summary_large_image')
		meta(name='twitter:title', content='PHPID Online Learning 2020')
		meta(name='twitter:description', content='Daftar online learning yang diadakan oleh PHPID community')
		meta(name='twitter:url', content='https://phpid-jakarta.github.io/phpid-online-learning-2020/')
		meta(name='twitter:image', content='../meta-image.png')
		meta(name='twitter:site', content='PHPID')

		link(rel='apple-touch-icon', sizes='60x60', href='./favicon/apple-icon-60x60.png')
		link(rel='icon', type='image/png', sizes='192x192', href='./favicon/android-icon-192x192.png')

		link(rel='icon', type='image/png', sizes='32x32', href='./favicon/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='96x96', href='./favicon/favicon-96x96.png')
		link(rel='icon', type='image/png', sizes='16x16', href='./favicon/favicon-16x16.png')

		meta(name='msapplication-TileColor', content='#212121')
		meta(name='msapplication-TileImage', content='./favicon/ms-icon-144x144.png')
		meta(name='theme-color', content='#212121')


		script#ld-website(type='application/ld+json').
			{"@context":"http://schema.org","@type":"WebSite","url":"https://phpid-jakarta.github.io/phpid-online-learning-2020/","description":"Daftar online learning yang diadakan oleh PHPID community","image":"../meta-image.png","thumbnailUrl":"../meta-image.png","name":"PHPID","sameAs":["https://www.facebook.com/groups/phpid"]}
		script#ld-org(type='application/ld+json').
			{"@context":"https://schema.org","@type":"Organization","name":"PHPID","logo":{"@type":"ImageObject","url":"../meta-image.png"}}

		// Global site tag (gtag.js) - Google Analytics
		script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-97096911-1")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-97096911-1');			

		// Internal Style CSS
		style.
			body, html {
				height: 100%;
				margin: 0;
				scroll-behavior:smooth;
			}
			a {
				background-image:none !important;
				text-decoration:none;
			}
			.hero-image {
				min-height: 100vh;
				background: url('./new_bg_hero.webp');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 500px;
				position: relative;
				background-color: #212121;
			}
			.hero-text {
				text-align: center;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: white;
			}
			.hero-text h1{
				margin: 20px 0 0 0;
				font-size:2rem;
			}
			.hero-text h3 {
				margin: 0;
				font-size:1.25rem;
			}
			.hero-text span{
				display:block;
				margin-bottom:20px;
			}
			.hero-text button {
				border: none;
				outline: 0;
				display: inline-block;
				padding: 10px 25px;
				color: black;
				background-color: #ddd;
				text-align: center;
				cursor: pointer;
				margin: 5px;
			}
			.hero-text button:hover {
				background-color: #555;
				color: white;
			}
			.hero-arrow {
				position: absolute;
				bottom: 20px;
				display: flex;
				width: 100%;
				justify-content:center;
				align-items: center;
				flex-direction: column;
				color:white;
			}
			.hero-arrow a {
				text-decoration: none;
				background-image: none;
			}
			.hero-arrow button {
				border-color:white;
				color:white;
				margin-top:20px;
			}
			#content-speaker{
				max-width:90%;
				margin:50px auto;
			}
			#content-speaker .card{
				margin-bottom:20px;
			}
			#content-speaker .card .card-body{
				min-height:200px;
				background:white;
			}
			#content-speaker .card .card-body button{
				margin:5px;
			}
			#content-speaker .card .card-body a+a{
				margin:0;
			}
			#modal-video{
				position:fixed;
				width:100%;
				top:0;
				display:none;
			}
			#modal-video .wrapper{
				height:100vh;
				background: black;
				opacity:0.88;
			}
			#modal-video .card{
				position:absolute;
				width:100%;
				height:100vh;
				background:white;
				top:0;
				border: none;
			}
			#modal-video .card .card-body{
				position: relative;
			}
			#modal-video .card .card-body .card-actions{
				position: absolute;
				width:100%;
				bottom:0;
				text-align:center;
			}
			#modal-video .card .card-body .card-actions button{
				display:block;
				margin: 10px 0px;
			}
			#modal-video .card iframe{
				width:100%;
			}
			@media only screen and (min-width:700px){
				.hero-text h3 {
					font-size:1.8rem;
				}
				.hero-text h1{
					font-size:2.5rem;
				}
				#modal-video .card{
					width:800px;
					height: 700px;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				#modal-video .card .card-body .card-actions{
					text-align:left;
				}
				#modal-video .card .card-body .card-actions button{
					display:inline;
					margin: 10px 10px;
				}
				#modal-video .card iframe{
					height: 450px;
				}
			}

		// Check Enviroment Mode
		if env !== 'development'
			// Paper CSS
			link(rel="stylesheet", href="paper.css")

			// Animate CSS
			link(rel="stylesheet", href="animate.css")

			// Masonry Library
			script(src="https://raw.githubusercontent.com/phpid-jakarta/phpid-online-learning-2020/master/src/macy.min.js")
		else
			// CDN Paper CSS
			link(rel="stylesheet", href="https://unpkg.com/papercss@1.6.1/dist/paper.min.css")

			// CDN Animate CSS
			link(rel="stylesheet", href="https://unpkg.com/animate.css@4.1.0/animate.css")

			// CDN Masonry CSS
			script(src="https://cdn.jsdelivr.net/npm/macy@2")
	body
		// Hero Section
		.hero-image
			.hero-text
				h3.animate__animated.animate__bounce PHPID Online Learning 2020
				h1.animate__animated.animate__bounce=d.data.length + ' Materi'
				span.animate__animated.animate__bounce=d.data[0].date.split(",")[1] + " - " +d.data[d.data.length-1].date.split(",")[1]
				a(href="https://github.com/phpid-jakarta/phpid-online-learning-2020/", target="_blank", rel="noopener", title="Github")
					button.animate__animated.animate__bounceIn Github
				a(href="https://www.facebook.com/groups/phpid/", target="_blank", rel="noopener", title="Facebook Group PHPID")
					button.btn-secondary.animate__animated.animate__bounceIn FB Group
			.hero-arrow
				span.animate__animated.animate__bounceIn.animate__delay-1s Lihat Semua Pemateri
				a(href="#content-speaker")
					button.animate__animated.animate__bounceIn.animate__delay-1s &darr;

		// Content Speaker Section
		#content-speaker
			each val, index in d.data
				.card
					img.lazyload(data-src=val.cover, src="https://github.com/phpid-jakarta/phpid-online-learning-2020/raw/master/cover/default.jpg", loading="lazy" alt=val.topic)
					.card-body
						span.badge.secondary(style="margin-right: .5em;")=val.date
						span.badge.success=val.time + ' WIB'
						h4.card-title=val.topic
						h5.card-subtitle=val.speaker
						p.card-text
						if val.videos[0] && val.videos[0] !== 'empty'
							button(onclick="showModal(this)", data-video=val.videos[0]).btn-secondary Tonton Video
						else if val.registrasi && val.registrasi !== 'empty'
							a(href=val.registrasi, target="_blank", rel="noopener", style="background-image: none", title="Registrasi")
								button.btn-warning Registrasi
						if val.slide && val.slide !== 'empty'
							a(href=val.slide, target="_blank", rel="noopener", style="background-image: none", title="Slide")
								button.btn-success Lihat Slide

		// Modal Section
		#modal-video
			.wrapper
			.card
				iframe(
					src="", 
					style="border:none;overflow:hidden", 
					scrolling="no", 
					frameBorder="0", 
					allowTransparency="true", 
					allow="encrypted-media", 
					allowFullScreen="true")
				.card-body
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil laboriosam vel incidunt error dolorem dolores qui eius accusamus, ab, aspernatur molestias minima commodi molestiae. Ullam sint nemo deserunt minima eum!
					.card-actions
						a(href="https://www.facebook.com/groups/phpid/", target="_blank", rel="noopener", title="Facebook Group PHPID")
							button.btn-secondary Lihat di Facebook
						button(onclick="closeModal()").btn-danger Tutup Pemutar
		// Footer Section
		footer.row.flex-center.margin
			.text-center
				span
				| Menemukan bug? atau ingin berkontribusi?
				| kunjungi&nbsp;
				a(href="https://github.com/phpid-jakarta/phpid-online-learning-2020/", target="_blank", rel="noopener", title="Github") Github repository
		footer.row.flex-center
			.text-center
				span Crafted with ❤️ by PHPID Dev Teams, © 2020

		// Javascript Code
		script.
			function iframeURL(link){
				const linkSplit = link.split("/")
				if(linkSplit[2].includes("youtu")){
					return `https://youtube.com/embed/${linkSplit[3]}`
				}
				if(linkSplit[2].includes('facebook')){
					return `https://www.facebook.com/plugins/video.php?href=${encodeURIComponent(link)}&show_text=false&width=734&height=400`
				}
			}

			function showModal(element){
				const modal = document.querySelector('#modal-video')
				const iframe = document.querySelector('#modal-video .card iframe')
				const linkDirect = document.querySelector('#modal-video .card .card-body .card-actions a')
				iframe.setAttribute('src', iframeURL(element.dataset.video))
				modal.style.display = "block"
				linkDirect.setAttribute('href', element.dataset.video)
			}

			function closeModal(){
				const modal = document.querySelector('#modal-video')
				const iframe = document.querySelector('#modal-video .card iframe')
				modal.style = "display:none;"
				iframe.setAttribute('src', '')
			}

			if ('loading' in HTMLImageElement.prototype) {
				// Intersection Observer Validation
				if ('IntersectionObserver' in window){
					// Initiate Masonry Library
                                        let macy = null;

					try{
                                                macy = Macy({
						container: '#content-speaker',
						trueOrder: false,
						waitForImages: true,
						margin: 20,
						columns: 3,
						breakAt: {
					          520: 1,
						  400: 1
						}
					        });
					} catch(){}

                                        const heroImage = document.querySelector('.hero-image')
					const cards = document.querySelectorAll('#content-speaker .card') // Select All Card Element on Content Speaker Section
					const iobs = new IntersectionObserver((entries, observe)=>{
						entries.forEach(entry => {
							if(entry.isIntersecting){
								if(entry.target.classList == 'hero-image'){
									window.scrollTo({behavior: "smooth", top:0});
								} else {
									let card = entry.target
									let img = entry.target.childNodes[0]
									img.src = img.dataset.src
									card.classList.add("animate__animated")
									card.classList.add("animate__zoomIn")
									img.classList.remove('lazyload')
									iobs.unobserve(card)
									macy && macy.recalculate && macy.recalculate(true)	// Recalculate Masonry when element is intersecting
								}
							}
						})
					})
					iobs.observe(heroImage)
					cards.forEach(card => iobs.observe(card))
				} else {
					const images = document.querySelectorAll("img.lazyload");
					images.forEach(img => {
						img.src = img.dataset.src;
					});
				}
			} else {
				// Dynamically import the LazySizes library
				let script = document.createElement("script");
				script.async = true;
				script.src = "https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.1.8/lazysizes.min.js";
				document.body.appendChild(script);
			}
