doctype html
html(lang="id")
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name="viewport", content="initial-scale=1, minimum-scale=1, maximum-scale=7, user-scalable=yes, width=device-width, shrink-to-fit=no")
		link(rel='preconnect dns-prefetch', href='https://www.google-analytics.com'  crossorigin="")
		link(rel='preconnect dns-prefetch', href='https://www.googletagmanager.com'  crossorigin="")
		link(rel='preconnect dns-prefetch', href='https://cdn.jsdelivr.net'  crossorigin="")

		title PHPID Online Learning 2020

		meta(name='description', content='Daftar online learning yang diadakan oleh PHPID community')
		meta(property='og:site_name', content='PHPID')
		meta(property='og:type', content='website')
		meta(property='og:title', content='PHPID Online Learning 2020')
		meta(property='og:description', content='Daftar online learning yang diadakan oleh PHPID community')
		meta(property='og:url', content='https://phpid-jakarta.github.io/phpid-online-learning-2020/')
		meta(property='og:image', content='../meta-image.png')
		meta(property='og:image:width', content='1200')
		meta(property='og:image:height', content='630')
		meta(property='article:publisher', content='https://www.facebook.com/groups/phpid/')

		meta(name='twitter:card', content='summary_large_image')
		meta(name='twitter:title', content='PHPID Online Learning 2020')
		meta(name='twitter:description', content='Daftar online learning yang diadakan oleh PHPID community')
		meta(name='twitter:url', content='https://phpid-jakarta.github.io/phpid-online-learning-2020/')
		meta(name='twitter:image', content='../meta-image.png')
		meta(name='twitter:site', content='PHPID')

		link(rel='apple-touch-icon', sizes='60x60', href='./favicon/apple-icon-60x60.png')
		link(rel='icon', type='image/png', sizes='192x192', href='./favicon/android-icon-192x192.png')

		link(rel='icon', type='image/png', sizes='32x32', href='./favicon/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='96x96', href='./favicon/favicon-96x96.png')
		link(rel='icon', type='image/png', sizes='16x16', href='./favicon/favicon-16x16.png')

		meta(name='msapplication-TileColor', content='#212121')
		meta(name='msapplication-TileImage', content='./favicon/ms-icon-144x144.png')
		meta(name='theme-color', content='#212121')


		script#ld-website(type='application/ld+json').
			{"@context":"http://schema.org","@type":"WebSite","url":"https://phpid-jakarta.github.io/phpid-online-learning-2020/","description":"Daftar online learning yang diadakan oleh PHPID community","image":"../meta-image.png","thumbnailUrl":"../meta-image.png","name":"PHPID","sameAs":["https://www.facebook.com/groups/phpid"]}
		script#ld-org(type='application/ld+json').
			{"@context":"https://schema.org","@type":"Organization","name":"PHPID","logo":{"@type":"ImageObject","url":"../meta-image.png"}}

		// Global site tag (gtag.js) - Google Analytics
		script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-97096911-1")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-97096911-1');

		// Internal Style CSS
		script(async="" src="main.css")


		// Check Enviroment Mode
		if env !== 'development'
			// Paper CSS
			link(rel="stylesheet", href="vendors/paper.css")

			// Animate CSS
			link(rel="stylesheet", href="vendors/animate.css")

			// Masonry Library
			script(src="https://cdn.jsdelivr.net/npm/macy@2")
		else
			// CDN Paper CSS
			link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/papercss@1.6.1/dist/paper.min.css")

			// CDN Animate CSS
			link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/animate.css@4.1.0/animate.min.css")

			// CDN Masonry CSS
			script(src="https://cdn.jsdelivr.net/npm/macy@2")
	body
		// Hero Section
		.hero-image
			.hero-text
				h3.animate__animated.animate__bounce PHPID Online Learning 2020
				h1.animate__animated.animate__bounce=d.data.length + ' Materi'
				span.animate__animated.animate__bounce=d.data[0].date.split(",")[1] + " - " +d.data[d.data.length-1].date.split(",")[1]
				a(href="https://github.com/phpid-jakarta/phpid-online-learning-2020/", target="_blank", rel="noopener", title="Github")
					button.animate__animated.animate__bounceIn Github
				a(href="https://www.facebook.com/groups/phpid/", target="_blank", rel="noopener", title="Facebook Group PHPID")
					button.btn-secondary.animate__animated.animate__bounceIn FB Group
			.hero-arrow
				span.animate__animated.animate__bounceIn.animate__delay-1s Lihat Semua Pemateri
				a(href="#content-speaker")
					button.animate__animated.animate__bounceIn.animate__delay-1s &darr;

		// Content Speaker Section
		#content-speaker
			each val, index in d.data
				.card
					img.lazyload(data-src=val.cover, src="https://github.com/phpid-jakarta/phpid-online-learning-2020/raw/master/cover/default.jpg", loading="lazy" alt=val.topic)
					.card-body
						span.badge.secondary(style="margin-right: .5em;")=val.date
						span.badge.success=val.time + ' WIB'
						h4.card-title=val.topic
						h5.card-subtitle=val.speaker
						p.card-text
						if val.videos[0] && val.videos[0] !== 'empty'
							button(onclick="showModal(this)", data-video=val.videos[0]).btn-secondary Tonton Video
						else if val.registrasi && val.registrasi !== 'empty'
							a(href=val.registrasi, target="_blank", rel="noopener", style="background-image: none", title="Registrasi")
								button.btn-warning Registrasi
						if val.slide && val.slide !== 'empty'
							a(href=val.slide, target="_blank", rel="noopener", style="background-image: none", title="Slide")
								button.btn-success Lihat Slide

		// Modal Section
		#modal-video
			.wrapper
			.card
				iframe(
					src="",
					style="border:none;overflow:hidden",
					scrolling="no",
					frameBorder="0",
					allowTransparency="true",
					allow="encrypted-media",
					allowFullScreen="true")
				.card-body
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil laboriosam vel incidunt error dolorem dolores qui eius accusamus, ab, aspernatur molestias minima commodi molestiae. Ullam sint nemo deserunt minima eum!
					.card-actions
						a(href="https://www.facebook.com/groups/phpid/", target="_blank", rel="noopener", title="Facebook Group PHPID")
							button.btn-secondary Lihat di Facebook
						button(onclick="closeModal()").btn-danger Tutup Pemutar
		// Footer Section
		footer.row.flex-center.margin
			.text-center
				span
				| Menemukan bug? atau ingin berkontribusi?
				| kunjungi&nbsp;
				a(href="https://github.com/phpid-jakarta/phpid-online-learning-2020/", target="_blank", rel="noopener", title="Github") Github repository
		footer.row.flex-center
			.text-center
				span Crafted with ❤️ by PHPID Dev Teams, © 2020

		// Javascript Code
		script(src="main.js")

